__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/

.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.DS_Store

workspace/
